xml_demo/src/schema/03_group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
		
	<xsd:group name="mygroup">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="birthday" type="xsd:date"/>
			<xsd:element name="age" type="xsd:integer"/>
		</xsd:sequence>
	</xsd:group>
	
	<xsd:element name="person">
		<xsd:complexType>
			<xsd:group ref="mygroup"></xsd:group>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>