xml_demo/src/schema/04_attribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
		
	<xsd:attribute name="interest" type="xsd:integer"></xsd:attribute>
	
	<xsd:element name="person">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="hello" type="xsd:string">
				
				</xsd:element>
				<xsd:element name="world" type="xsd:string"></xsd:element>
			</xsd:sequence>	
			
			<xsd:attribute ref="interest" use="required"></xsd:attribute>	
		</xsd:complexType>
	</xsd:element>
</xsd:schema>