xml_demo/src/schema/08_choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
		
	<xsd:complexType name="myType">
		<xsd:choice minOccurs="1" maxOccurs="2">
			<xsd:element name="hello" type="xsd:string"></xsd:element>
			<xsd:element name="world" type="xsd:string"></xsd:element>
		</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="helloworld" type="myType"></xsd:element>
	
</xsd:schema>